---
import Config  from '../../../config/config.js'

let scolor = Config.key ('site.colors.surfaces.regular.tertiary')
---

<div class="progress"></div>

<style define:vars={{ scolor }}>
  .progress {
      position   : fixed;
      top        : 0;
      left       : 0;
      width      : 0%;
      height     : 5px;
      background : #3498db; 
      z-index    : 1000;
  }
</style>

<script is:inline>
  const PROGRESS = '.progress'
  const SCROLL   = 'scroll'
  const UNITS    = '%'

  let progress = document.querySelector (PROGRESS)

  window.addEventListener (SCROLL,  function () {
    let element = document.documentElement
    let height  = element.scrollHeight - element.clientHeight
    let scroll  = (window.scrollY / height) * 100
    progress.style.width = scroll + UNITS
  })
</script>