---
import Head from '../commons/commons.head.astro'

let { book } = Astro.props

let title   = book.key ('title')
let caption = book.key ('caption')
---

<div class="ui container">
  <div class="book">
    <div class="head"><Head title={title} caption={caption}/></div>
  </div>
</div>

<style>
  .book {
    margin-top: 100px;
  }
</style>