---
import Head from '../../commons/commons.head.main.astro'

let { poster } = Astro.props

let title    = poster.key ('title')
let caption  = poster.key ('caption')
---

<div class="ui container">
  <div class="poster">
    <div class="head"><Head title={title} caption={caption}/></div>
  </div>
</div>

<style>
  .poster {
    margin-top: 100px;
  }
</style>