---
let {title} = Astro.props
let {image} = Astro.props

---
<div class="ui container mark">
  <div class="image">
    <img src={image} alt={title}>
  </div>
</div>

<style>
  .mark .image {
    margin     : 0 auto !important;
    text-align : center;
  }
  .mark .image img {
    width      : 300px;
  }
</style>